<!DOCTYPE html>
<html>
    <head>
      <title>MIUI Builder</title>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <link href="static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>MIUI Builder</h1>
        <table class='filetable filelist'>
        <tr>
          <th>status</th>
          <th>repo</th>
          <th>path</th>
          <th>exist?</th>
          <th>last_sync_time</th>
          <th>last_build_time</th>
          <th>dirty?</th>
          <th>memo</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for project in projects %}
        <tr>
          <td>Idle</td>
          <td>{{project['repo']}}</td>
          <td>{{project['path']}}</td>
          <td>{{project['exist']}}</td>
          <td>{{project['sync']}}</td>
          <td>{{project['system']}}</td>
          <td>{{project['dirty_html']}}</td>
          <td>{{project['memo']}}</td>
          <td><a href="sync?path={{project['path']}}">sync</a> status: {{project['last_sync_status']}}</td>
          <td><a href="{{project['path']}}">clean</a></td>
          <td><a href="{{project['path']}}">quick build</a></td>
          <td><a href="{{project['path']}}">clean build</a></td>
          </td>
        </tr>
        {% end %}
        </table>
        <p>{{s}}</p>
    </body>
</html>
